.loading-animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  gap: 0;
}

.loading-animation-container > div {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -30px;
}

.loading-message {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  color: #8B4513;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
}

.loading-animation-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.loading-animation-inline > div {
  margin: 0;
  padding: 0;
}

.loading-animation-inline .loading-message {
  margin-top: -2px;
}
